// ATOMS [ MISC ]  ####################################################################################################

// A.1. GLOBAL STYLE --------------------------------------

// A.1.1. Headings ----------

h1,
h1 *,
.fntH1,
.fntH1 * {
  font-family: $shoulders;
  @include scaledFont(55, 65, 65, 55, 65, 65);
}

h2,
h2 *,
.fntH2,
.fntH2 * {
  font-family: $shoulders;
  @include scaledFont(45, 55, 55, 45, 55, 55);
  margin-bottom: 40px;
}

h3,
h3 *,
.fntH3,
.fntH3 * {
  font-family: $shoulders;
  @include scaledFont(35, 45, 45, 35, 45, 45);
}

h4,
h4 *,
.fntH4,
.fntH4 * {
  font-family: $shoulders;
  @include scaledFont(25, 35, 35, 32, 45, 45);
  margin-bottom: 20px;
}

h5,
h5 *,
.fntH5,
.fntH5 * {
  font-family: $shoulders;
  @include scaledFont(18, 24, 24, 24, 32, 32);
}

.fnt72f,
.fnt72f * {
  @include font(72);
}

.fnt30f,
.fnt30f * {
  @include font(30);
}

.fnt30,
.fnt30 * {
  @include scaledFont(24, 30, 30, 24, 30, 30);
}

.fnt18,
.fnt18 * {
  @include scaledFont(14, 18, 18, 16, 22, 22);
}
.fnt18f,
.fnt18f * {
  @include font(18);
}

p {
  @include font(16);
}

.fnt16,
.fnt16 * {
  @include scaledFont(14, 16, 16, 16, 19, 19);
}

p,
p *,
.fnt14,
.fnt14 * {
  @include font(14);
}

// A.1. END -----------------------------------------------

// END OF FILE ########################################################################################################
