// COMPONENT [ FOOTER ] ###############################################################################################

@import "../../../scss/.base/module-index";

// A. GLOBAL STYLES +++++++++++++++++++++++++++++++++++++

.oProjects {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.slideContent {
  @include position(absolute, 0);
  background-color: rgba(0, 0, 0, 0.96);
  transform: translateY(100%);
  transition: 0.3s;
  &.on {
    transform: translateY(0%);
    transition: 0.3s;
  }
}

.oNav {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: block;
  padding: 10px 15px;
  margin: 0;
  z-index: 10;

  .mItem {
    display: inline-block;
    cursor: pointer;
    .mTitle {
      line-height: normal;
      color: white;
      font-weight: 400;
      margin-right: 8px;
    }
    &.projectDetails {
      color: white;
      line-height: normal;
      span {
        display: inline-block;
        vertical-align: middle;
        font-weight: 400;
      }
    }
    &.projectDemos {
      span {
        display: inline-block;
        vertical-align: middle;
      }
    }
    .slide-div {
    }
  }
}

.oTab {
  &.slideContent {
    display: flex;
    flex-direction: column;
    bottom: 50px;
    transform: translateY(120%);
    &.details {
      transform: translateY(0) translateX(-100%);
      right: auto;
      width: 100%;
      &.on {
        transform: translateY(0) translateX(0);
      }
    }
    .oWrapper {
      max-width: 1440px;
      margin: 0 auto;
      width: 100%;
      position: relative;
    }

    .mDetail {
      flex: 1;
      &.projectInfo {
        flex: 2;
        h4,
        h5 {
          padding: 0 15px;
          color: white;
        }
        .aTitle {
          color: white;
          background: #2c2c2c;
          margin: 0 0 15px 0;
          padding: 10px 15px;
        }
        p {
          color: white;
          margin: 0 0 15px 0;
          padding: 0 15px;
        }
        ul {
          color: white;
        }
      }
      &.date {
        display: flex;
        align-items: center;
        .aTitle {
          flex: 1;
          margin: 0;
          padding: 0;
          color: white;
        }
        .aDetail {
          flex: 3;
          margin: 0;
          padding: 0;
          color: white;
        }
        &.dateStart {
          background-color: $kd-blue;
          max-height: 50px;
          padding: 0 0 0 15px;
        }
        &.dateEnd {
          background-color: $kd-blue;
          max-height: 50px;
          padding: 0 0 0 15px;
        }
      }
    }
    &.on {
      transform: translateY(0%);
    }
  }
}

.demoTab {
  margin-right: 10px;
  cursor: pointer;
  display: none;
  text-decoration: none;
  &.show {
    display: inline-block;
  }
  &.home,
  &.back {
    float: right;
  }
  .mIcon {
    padding: 0;
    margin: 0;
    display: inline-block;
    vertical-align: middle;
    .aIcon {
      height: 20px;
      vertical-align: middle;
      &.cog {
        width: 20px;
      }
      &.laptop {
      }
      &.tablet {
        width: 15px;
      }
      &.mobile {
        width: 10px;
      }
      &.prev {
        width: 20px;
      }
      &.caret {
        width: 20px;
      }
      path {
        fill: white;
      }
    }
  }
  .aIconText {
    margin: 0 0 0 8px;
    padding: 0;
    display: none;
    line-height: normal;
    vertical-align: middle;
    color: white;
  }
  &:hover {
    text-decoration: none;
    .mIcon {
      .aIcon {
        path {
          fill: $kd-blue;
        }
      }
    }
    .aIconText {
      color: $kd-blue;
    }
  }
  &.on {
  }
  &.off {
  }
}

.oProjectCover {
  display: block;
  position: relative;
  .aCoverDesk,
  .aCoverTab,
  .aCoverMob {
    width: 100%;
    height: auto;
  }
}
// A. END +++++++++++++++++++++++++++++++++++++++++++++++

// B. GRACEFUL DEGRADATION ++++++++++++++++++++++++++++++

@media ($md-dn) {
}

// B. END +++++++++++++++++++++++++++++++++++++++++++++++

// C. MIN-WIDTH: 768px ++++++++++++++++++++++++++++++++++

@media ($md-up) {
  .oTab {
    &.slideContent {
      &.details {
        right: auto;
        width: 30%;
        max-width: 450px;
      }
      .mDetail {
        &.projectInfo {
        }
        &.date {
          .aTitle {
          }
          .aDetail {
            flex: 4;
          }
          &.dateStart {
          }
          &.dateEnd {
          }
        }
      }
    }
  }

  .demoTab {
    .mIcon {
      .aIcon {
        height: 20px;
        &.cog {
          width: 20px;
        }
        &.laptop {
        }
        &.tablet {
          width: 15px;
        }
        &.mobile {
          width: 10px;
        }
        &.prev {
          width: 20px;
        }
        &.caret {
          width: 20px;
        }
        path {
          fill: white;
        }
      }
    }
    .aIconText {
      display: inline-block;
    }
  }
  .oProjectContent {
    display: flex;
    height: 100vh;
  }
  .oProjectCover {
    width: 100%;
    margin: auto 0;
    transition: 0.3s;
    &.on {
      width: 60%;
      margin: auto 5% auto auto;
      transition: 0.3s;
    }
  }
}

// C. END +++++++++++++++++++++++++++++++++++++++++++++++

// D. MIN-WIDTH: 992px ++++++++++++++++++++++++++++++++++

@media ($lg-up) {
}

// D. END +++++++++++++++++++++++++++++++++++++++++++++++

// E. MIN-WIDTH: 1200px +++++++++++++++++++++++++++++++++

@media ($xl-up) {
  .oTab {
    &.slideContent {
      &.details {
        right: auto;
        width: 30%;
        max-width: 450px;
      }
      .mDetail {
        &.projectInfo {
        }
        &.date {
          .aTitle {
          }
          .aDetail {
            flex: 4;
          }
          &.dateStart {
          }
          &.dateEnd {
          }
        }
      }
    }
  }
  .oProjectCover {
    &.on {
      width: calc(100% - 650px);
      margin: auto 100px auto auto;
    }
  }
}

// E. END +++++++++++++++++++++++++++++++++++++++++++++++

// END OF FILE ########################################################################################################
