// COMPONENT [ TEXT IMAGE BLOCK ] #####################################################################################

@import "../../../scss/.base/_module-index";

.mSkillItem {
  // A. GLOBAL STYLES +++++++++++++++++++++++++++++++++++++

  width: 33%;
  aspect-ratio: 1/1;
  cursor: pointer;
  .aSkillText {
    @include middle-align();
    color: #fefefe;
    line-height: 1;
    text-align: center;
    text-shadow: 0 0 5px rgba(black, 0.4);
  }

  .mSkill {
    $skill-color: #e2e2e2;
    transform: rotate(-90deg);
    @include position(absolute, 5%);
    margin: 0;
    padding: 0;
    background-color: $skill-color;
    border-radius: 100%;

    .aSkillSvg {
      .skillCircle {
        stroke: #ccc;
        fill: none;
        stroke-width: 50;
      }
    }

    p {
      text-align: center;
      padding: 0;
      margin: 5px 0 0;
    }
  }

  // A. END +++++++++++++++++++++++++++++++++++++++++++++++

  // B. GRACEFUL DEGRADATION ++++++++++++++++++++++++++++++

  @media ($md-dn) {
  }

  // B. END +++++++++++++++++++++++++++++++++++++++++++++++

  // C. MIN-WIDTH: 768px ++++++++++++++++++++++++++++++++++

  @media ($md-up) {
    width: 25%;
  }

  // C. END +++++++++++++++++++++++++++++++++++++++++++++++

  // D. MIN-WIDTH: 992px ++++++++++++++++++++++++++++++++++

  @media ($md-up) {
  }

  // D. END +++++++++++++++++++++++++++++++++++++++++++++++

  // E. MIN-WIDTH: 1200px +++++++++++++++++++++++++++++++++

  @media ($lg-up) {
    width: 16.66%;
  }

  // E. END +++++++++++++++++++++++++++++++++++++++++++++++
}

// END OF FILE ########################################################################################################
