// MOLECULE [ BODY COPY COMPONENT ] ###################################################################################

// 0. IMPORTS +++++++++++++++++++++++++++++++++++++++++++++

@import "../../../scss/.base/_module-index";

.oComponentTwoColumnImageCopy {
  // A. GLOBAL STYLES +++++++++++++++++++++++++++++++++++++

  background-color: #e4e4e4;

  .oRow {
    align-items: flex-end;
    position: relative;
  }

  .oColText {
    padding: 50px 30px;
    color: #222;
    h2 {
      margin: 0 0 30px;
    }
    p {
      line-height: 22px;
      margin-bottom: 12px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .oColImage {
    position: relative;
  }

  .aImage {
    max-width: 300px;
    height: auto;
    margin: auto 0 -4px 0;
  }

  // A. END +++++++++++++++++++++++++++++++++++++++++++++++

  // B. GRACEFUL DEGRADATION ++++++++++++++++++++++++++++++

  @media ($md-dn) {
  }

  // B. END +++++++++++++++++++++++++++++++++++++++++++++++

  // C. MIN-WIDTH: 768px ++++++++++++++++++++++++++++++++++

  @media ($md-up) {
    .oColImage {
      order: 1;
    }
    .oColText {
      padding: 50px 0;
      order: 2;
    }
  }

  // C. END +++++++++++++++++++++++++++++++++++++++++++++++

  // D. MIN-WIDTH: 992px ++++++++++++++++++++++++++++++++++

  @media ($md-up) {
    padding: 120px 0 0;

    .aImage {
      max-width: 400px;
    }
  }

  // D. END +++++++++++++++++++++++++++++++++++++++++++++++

  // E. MIN-WIDTH: 1200px +++++++++++++++++++++++++++++++++

  @media ($lg-up) {
  }

  // E. END +++++++++++++++++++++++++++++++++++++++++++++++
}

// END OF FILE ########################################################################################################
