// ORGANISM [ SKILLS MATRIX ] #########################################################################################

// A. GLOBAL STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// A.2. GENERAL CARDS -------------------------------------

@keyframes anim-1 {
  0% {
    stroke-dasharray: 117.75 157;
  }
  100% {
    stroke-dasharray: 157 157;
  }
}

@keyframes anim-2 {
  0% {
    stroke-dasharray: 78.5 78.5;
  }
  100% {
    stroke-dasharray: 156.7 78.5;
  }
}

@keyframes anim-3 {
  0% {
    stroke-dasharray: 39.5 117.5;
  }
  100% {
    stroke-dasharray: 156.7 117.5;
  }
}

@keyframes anim-4 {
  0% {
    stroke-dasharray: 0 157;
  }
  100% {
    stroke-dasharray: 156.7 157;
  }
}

@keyframes pop {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.oSkillsList {
  position: relative;
  .mSkillItem {
    opacity: 0;
  }
  &.inView {
    .mSkillItem {
      animation: pop 1s cubic-bezier(0.64, 0.64, 0.76, 1.26) both;
      opacity: 1;
      @for $i from 1 through 20 {
        &:nth-child(#{$i}) {
          animation-delay: $i * (2s / 20);
          .mSkill {
            &.level_1 {
              .skillCircle {
                stroke-dasharray: 117.75 157;
                animation: anim-1 1s linear 0.3s reverse;
              }
            }
            &.level_2 {
              .skillCircle {
                stroke-dasharray: 78.5 78.5;
                animation: anim-2 1s linear 0.3s reverse;
              }
            }
            &.level_3 {
              .skillCircle {
                stroke-dasharray: 39.5 117.5;
                animation: anim-3 1s linear 0.3s reverse;
              }
            }
            &.level_4 {
              .skillCircle {
                stroke-dasharray: 0 157;
                animation: anim-4 1s linear 0.3s reverse;
              }
            }
            .skillCircle {
              animation-delay: $i * (2s / 20);
            }
          }
        }
      }
    }
  }
}

// A.2. END -----------------------------------------------

// A. GLOBAL STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// B. GRACEFUL DEGRADATION ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@media ($md-dn) {
}

// B. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// C. MIN-WIDTH: 768px ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@media ($md-up) {
}

// C. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// D. MIN-WIDTH: 992px ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@media ($lg-up) {
}

// D. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// E. MIN-WIDTH: 1200px +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@media ($xl-up) {
}

// E. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// END OF FILE ########################################################################################################
