// ORGANISM [ SLICK SLIDER ] ##########################################################################################

// A. GLOBAL STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// A.1. SLIDER BASE STYLES --------------------------------

.slick-slider {
  width: 100%;
  overflow: hidden;
  .slick-track {
    display: flex !important;
    margin: 0 auto;
  }
  .slick-arrow {
    @include vertical-align(absolute);
    height: 100%;
    overflow: hidden;
    font-size: 0px;
    background-color: transparent;
    z-index: 10;
    border: 0;
    &.slick-prev {
      left: 0;
      right: 50%;
      cursor: url(/images/icons/icon--prev.png), auto;
    }
    &.slick-next {
      right: 0;
      left: 50%;
      cursor: url(/images/icons/icon--next.png), auto;
    }
  }
  .slick-dots {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: block;
    text-align: center;
    li {
      position: relative;
      display: inline-block;
      width: 10px;
      height: 10px;
      margin-left: 10px;
      border-radius: 10px;
      background: white;
      button {
        display: block;
        @include position(absolute, 0);
        opacity: 0;
      }
      &:first-child {
        margin-left: 0;
      }
      &:hover,
      &.slick-active {
        box-shadow: 0 0 6px 4px black;
      }
      &:active,
      &:focus {
        box-shadow: none;
      }
    }
  }
  .slick-slide {
    height: inherit !important;
    padding: 0 50px;
    * {
      color: white;
    }
    .aTitle {
      margin-bottom: 30px;
    }
    .aText {
      margin-bottom: 20px;
    }
  }
}

.oCarouselBlock {
  .slick-slider {
    .slick-slide {
      padding: 0;
    }
    .slick-dots {
      @include center-align();
      bottom: 20px;
    }
  }
}

.oWrapperMobi {
  .slick-slider {
    .slick-track {
      // width: 100% !important;
    }
  }
  .slick-slide {
    padding: 0 15px;
  }
  .aCarouselImage {
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.oWrapperDesk {
  .aCarouselImage {
    background-size: contain;
    background-repeat: no-repeat;
  }
}

// A.1. END -----------------------------------------------

// A. GLOBAL STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// B. GRACEFUL DEGRADATION ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@media ($md-dn) {
}

// B. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// C. MIN-WIDTH: 768px ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@media ($md-up) {
}

// C. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// D. MIN-WIDTH: 992px ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@media ($lg-up) {
}

// D. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// E. MIN-WIDTH: 1200px +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@media ($xl-up) {
}

// E. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// END OF FILE ########################################################################################################
