// MOLECULE [ BODY COPY COMPONENT ] ###################################################################################

@import "scss/.base/module-index";

// A. GLOBAL STYLES +++++++++++++++++++++++++++++++++++++
.oProjectCover {
  @include position(absolute, 0);
  width: 100%;
  height: 100%;
}
.oCoverImage {
  position: relative;
  @include position(absolute, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
}

// A. END +++++++++++++++++++++++++++++++++++++++++++++++

// B. GRACEFUL DEGRADATION ++++++++++++++++++++++++++++++

@media ($md-dn) {
}

// B. END +++++++++++++++++++++++++++++++++++++++++++++++

// C. MIN-WIDTH: 768px ++++++++++++++++++++++++++++++++++

@media ($md-up) {
}

// C. END +++++++++++++++++++++++++++++++++++++++++++++++

// D. MIN-WIDTH: 992px ++++++++++++++++++++++++++++++++++

@media ($md-up) {
}

// D. END +++++++++++++++++++++++++++++++++++++++++++++++

// E. MIN-WIDTH: 1200px +++++++++++++++++++++++++++++++++

@media ($lg-up) {
}

// E. END +++++++++++++++++++++++++++++++++++++++++++++++

// END OF FILE ########################################################################################################
